form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #0f2f43;
  border-radius: 23px;
  box-shadow: 3px 2px 1px 2px #5a1c7b86;
  padding: 50px;
  color: rgb(123, 146, 174);
  font-weight: 600;
  min-width: 40vh;
  max-width: 600px;
}

form label {
  width: 100%;
  height: 50px;
  display: flex;
  margin: 2px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

form input,
button,
select {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: antiquewhite;
  background-color: #5a1c7b57;
  box-shadow: 3px 2px 1px 2px #5a1c7b86;
  border: none;
  min-height: 40px;
  border-radius: 12px;
  width: 80%;
}

form select {
  cursor: pointer;
}

form select option {
  font-size: 1.1em;
  background: #5a1c7b;
}

form button {
  width: 50%;
  margin-top: 20px;
  cursor: pointer;
}
