* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #2e0808;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

.app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.app-logo-container {
  display: flex;
  /* width: 100vw; */
}

.app-logo {
  width: 100px;
}
